/*Par défaut*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}

:root{
    --text-color: #fff;
    --bg-color: #0c140f;
    --bg-color2: #c4d6c6;
    --main-color: #59c06f;

    --h1-font: 6rem;
    --h2-font: 4rem;
    --p-font: 17px;
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
}

section{
    padding: 70px 17% 60px;
    overflow-x: hidden;
    overflow-y: hidden;
}

section .animate{
    opacity: 0;
    filter: blur(5px);
    transition: 1s;
}

section.show-animate .animate{
    filter: blur(0);
    opacity: 1;
}

.accueil-texte{
    filter: blur(5px);
    opacity: 0;
    transform: translateX(-100%);
    animation: slide-in 2s forwards;
}
@keyframes slide-in {
    to{
        filter: blur(0);
        transform: translateX(0%);
        opacity: 1;
    }
}

.btn {
    display: inline-block;
    padding: 13px 40px;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 15px;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all .50s ease;
    cursor: pointer; 
}

.btn:hover {
    transform: translateX(10px);
    border: 2px solid var(--text-color);
    background: transparent;
    color: var(--text-color);
}

/*Fin du par défaut*/
 
/*Navbar*/

.actuel {
    font-weight: 800;
    color: var(--main-color);
}

header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    background: transparent;
    padding: 27px 17%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .50s ease;
}

.logo{
    font-size: 33px;
    color: var(--text-color);
    font-weight: 700;
}

.logo span {
    color: var(--main-color);
}

.navbar {
    display: flex;
}

.navbar a {
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 500;
    margin: 15px 22px;
    transition: all .50s ease;
}

.navbar a:hover {
    color: var(--main-color);
}

.h-droite {
    display: flex;
    align-items: center;
}

.h-droite a:first-child {
    color: var(--text-color);
    font-size: var(--p-font);
    margin-right: 20px;
}

.h-droite a {
    vertical-align: middle;
    font-size: 20px;
    color: var(--text-color);
    margin-right: 18px;
    margin-left: 5px;
    transition: all .50s ease;
}

.h-droite a:hover {
    color: var(--main-color);
    transform: translateY(-3px);
}

#menu-icon {
    color: var(--text-color);
    font-size: 30px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}


header.sticky {
    padding: 8px 17%;
    background: transparent;
    backdrop-filter: blur(50px);
}

/*Fin de la navbar*/

/*Design accueil*/


.accueil {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.4)), url(../../Images/actu-background.jpg);
    background-size: cover;
    background-position: bottom center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.accueil-texte h1{
    font-size: var(--h1-font);
    font-weight: 800;
    margin-bottom: 20px;
}

.accueil-texte h5{
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--main-color);
}

.scrollBouton{
    position: absolute;
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    background: #27ae60;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
    border-radius: 50%;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
    transform: rotate(180deg);

  }
  

  .scrollBouton:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.281);
}

/*Fin du design de l'accueil*/
/*Design de la grille d'actualités*/

#actualité-grid{
    margin-top: 100px;
	text-align: center;
    margin-bottom: 80px;
}
#actualité-grid h1{
	font-size: var(--h1-font);
	font-weight: 800;
}

.blog-container{
    display: grid;
    max-width: 1200px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin: auto;
    gap: 1.5rem;
}


.blog-box{
    border-radius: 10px;
    padding: 20px;
    background-color: #ffffff;
    margin: 20px;
    box-shadow: 15px 15px 4px #114d1e;
}
.blog-img{
    display: flex;
    width:100%;
    min-height: 185px;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
}
.blog-img img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog-text strong{
    font-size: 1.2rem;
    color: #20232b;
    display: flex;
    font-weight: 400;
    margin: 10px 0px;
    line-height: 25px;
}

.text-actu{
    cursor: pointer;
    transition: all .2s ease;
}


.text-actu:hover{
    color: gray;
}

.category-time{
    display: flex;
    align-items: center;
}
.category-time span{
    font-size: 0.8rem;
}
.blog-category{
    padding: 3px 6px;
    color: #484f61;
    font-weight: 500;
    background-color: rgba(0,0,0,0.06);
}
.published-time{
    margin-left: 10px;
    color: #db3838;
    font-weight: 500;
}

.center-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Design des popups*/

.popup{
    position: fixed;
    top: -100vh;
    left: 0px;
    width: 100%;
    height: 100%;
    transition: top 0ms ease-in-out 300ms;
  }
  
  .popup .overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 100ms ease-in-out 200ms;
  }
  
  .popup .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.15);
    width: 95%;
    max-width: 1000px;
    background: #fff;
    padding: 25px;
    border-radius: 20px;
    opacity: 0;
    box-shadow: 0px 2px 2px 5px rgba(0, 0, 0, 0.05);
    transition: all 300ms ease-in-out;
  }
  
  .popup .popup-content h2 {
    margin: 10px 0px;
    font-size: 25px;
    color: #111;
    text-align: center;
  }
  
  .popup .popup-content p {
    margin: 15px 0px;
    color: #222;
    font-size: 16px;
    /* text-align: center; */
  }
  
  .popup .popup-content .controls {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px 0px;
  }
  
  .popup .popup-content .controls button {
    padding: 10px 20px;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .popup .popup-content .controls .close-btn{
    background: transparent;
    color: #2b8b3b;
  }
  
  .popup.active{
    top: 0px;
    transition: top 0ms ease-in-out 0ms;
  }
  
  .popup.active .overlay {
    opacity: 1;
    transition: all 300ms ease-in-out;
  }
  
  .popup.active .popup-content{
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }


/*Fin du design de la grille d'actualités*/
/*Design bas de page*/

.email {
    margin-top: 40px;
}

.email-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.email-texte h2{
    font-size: var(--h2-font);
    font-weight: 800;
    margin-bottom: 15px;
}

.footer {
    background-color: rgb(20, 19, 19);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 2rem;
}

.footer-box{
    display: flex;
    flex-direction: column;
}

.footer-box h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.footer-box a{
    color: #979797;
    margin-bottom: 0.8rem;
    transition: all .50s ease;
}

.footer-box a:hover{
    transform: translateX(-4px);
    color: var(--text-color);
}

.social a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    background: #202020;
    color: var(--text-color);
    font-size: 20px;
    border-radius: 50%;
    margin-right: 8px;
    transition: transform 0.6s;
}

.social a:hover {
    background: var(--main-color);
    color: var(--bg-color);
    transform: translateX(-4px);
}

/*REsponsiv*/


@media (max-width:1700px) {
    header{
        padding: 18px 8%;
    }

    header.sticky{
        padding: 7px 8%;
    }

    section{
        padding: 50px 8% 40px;
    }
}

@media (max-width: 1200px){
	header{
		padding: 14px 5%;
	}
	header.sticky{
		padding: 7px 5%;
	}
	section{
		padding: 45px 5% 35px;
	}
	:root{
		--h1-font: 4.6rem;
	  --h2-font: 2.8rem;
	  --p-font: 15px;
	}
	.accueil{
		height: 90vh;
	}
}

@media (max-width: 1050px){

    .blog-container{
        max-width: 100%;
        grid-template-columns: 1fr 1fr;
    }

	#menu-icon{
		display: block;
	}

	.navbar{
		position: absolute;
		width: 100%;
		height: 100vh;
		padding: 40px 60px;
		top: 0;
		bottom: 0;
		left: 100%;
		right: 0;
		display: flex;
		flex-direction: column;
		background: var(--bg-color);
		transition: all .50s ease;
	}
	.navbar a{
		display: block;
		color: #979797;
		padding: 0;
		margin: 0px 0px 40px 0px;
		font-size: 2.2rem;
		font-weight: 400;
	}
	.navbar.open{
		left: 0;
	}

    @media (max-width: 600px){
        :root{
            --h1-font: 3.5rem;
          --h2-font: 2.1rem;
        }
        .accueil{
            height: 85vh;
        }
    
        .blog-container{
            width:90%;
            grid-template-columns: 1fr;
        }
        .blog-img{
            height: auto;
        }

        .actu-popup-texte {
            font-size: 1px;
        }
    }

    @media (max-width: 450px){
        header{
            padding: 12px 3%;
        }
        header.sticky{
            padding: 7px 3%;
        }
        section{
            padding: 60px 3% 50px;
        }
    }
    
}
